body{
    background-image: url('../materials/cat_frame.jpg');
    height: 40em;
    background-position: left center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
}

.main-content {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff4e9;
    border: #7a6174 solid;
    box-shadow: 0 2px 4px #7a6174;
}

.rules-section h1 {
    font-size: 28px;
    margin-bottom: 15px;
}

.rules-section p {
    line-height: 1.6;
    margin-bottom: 15px;
}

.rules-section ol {
    margin-left: 20px;
}

.rules-section ol li {
    margin-bottom: 10px;
}

