




.menu ul {
    list-style: none;
    padding: 0;
    display: flex;
}

.menu ul li {
    margin: 0 10px;
}

.menu ul li a {
    text-decoration: none;
    font-size: 30px;
    color: white;
    transition: color 0.3s, transform 0.3s, border 0.3s;
   
    border: 2px solid transparent;
    /* Początkowe przezroczyste obramowanie */
    padding: 5px 10px;

    border-radius: 5px;
    /* Zaokrąglenie rogów */
}

.menu ul li a:hover {
    color: pink;
    /* Zmiana koloru po najechaniu */
    transform: scale(1.1);

    border-color: #fff;

}
