body,
h1,
ul {
    margin: 0;
    padding: 0;
}

body {
    background-color: pink;
}
.header {
    background-color: green;
    color: #FCD581;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-container {
    display: flex;
    align-items: center;
    /* Wyśrodkowanie w pionie */
}

.logo-container img {
    margin-right: 10px;
    /* Dodatkowy odstęp między logiem a tekstem */
}



.menu ul {
    list-style: none;
    padding: 0;
    display: flex;
}

.menu ul li {
    margin: 0 10px;
}

.menu ul li a {
    text-decoration: none;
    font-size: 30px;
    color: white;
    transition: color 0.3s, transform 0.3s, border 0.3s;
   
    border: 2px solid transparent;
    padding: 5px 10px;

    border-radius: 5px;
  
}

.menu ul li a:hover {
    color: pink;
    transform: scale(1.1);
    border-color: #fff;

}
/* Styl dla kontenera z cytatem */
.quote-container {
    margin-top: 30px;
    /* Odstęp od góry */
    padding: 20px;
    /* Wewnętrzny odstęp */
    border: 2px solid #333;
    /* Obramowanie */
    width: 50%;
    /* Szerokość kontenera */
    margin-left: auto;
    /* Auto margines z lewej strony */
    margin-right: auto;
    /* Auto margines z prawej strony */
    text-align: center;
    /* Wyśrodkowanie tekstu */
}



/* Styl dla przycisku zmieniającego cytat */
.quote-container button {
    padding: 10px 20px;
    /* Wewnętrzny odstęp przycisku */
    margin-top: 15px;
    /* Odstęp od góry przycisku */
    background-color: #333;
    /* Kolor tła przycisku */
    color: white;
    /* Kolor tekstu przycisku */
    border: none;
    /* Usunięcie obramowania */
    cursor: pointer;
    /* Zmiana kursora po najechaniu */
    transition: background-color 0.3s;
    /* Efekt przejścia */
}

.quote-container button:hover {
    background-color: #555;
}

#quote {
    font-size: 1.2em;

}
